/*1354156357,178142515*/

.notifGentleAppReceipt #fbNotificationsList .first_receipt_div{position:absolute;top:7px;right:7px;z-index:3}
.notifGentleAppReceipt #fbNotificationsList a.first_receipt_no_button{display:inline-block;visibility:visible}
.notifGentleAppReceipt .first_receipt_table{color:grey}
.notifGentleAppReceipt div.async_saving .first_receipt_text,
.notifGentleAppReceipt div.async_saving a.first_receipt_no_button{display:none}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt a.notif_x{display:none;margin-top:0}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt.show_original_x a.notif_x{display:block}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt.show_original_x a.first_receipt_no_button{display:none}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt a.notifMainLink{border-bottom:1px solid #d1d8e7;border-top:1px solid #d1d8e7}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt{background-color:#eceff5;background:rgba(237,239,245,0.98);margin-bottom:-1px;z-index:2}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt:hover
a.notifMainLink{background-color:#e7ebf2;border-color:#d1d8e7}
.notifGentleAppReceipt #fbNotificationsList li div.first_receipt_div{display:none}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt
div.first_receipt_div{display:block}
.notifGentleAppReceipt #fbNotificationsList li .notif_new_label{display:none}
.notifGentleAppReceipt #fbNotificationsList li.first_receipt .notif_new_label{background-color:#faf3cd;color:#999;display:inline;font-size:9px;font-weight:bold;margin-left:3px;padding:2px 3px 1px 3px;position:relative;border-bottom:1px #f9e5b1 solid}

#bootloader_ynBUm { height: 42px; }